# -----------------------------
# sp500_pairs_trading project
# -----------------------------

# Ignore large/proprietary datasets
data/raw/*
data/processed/*

# Keep only tiny demo/sample files if needed
!data/processed/pairs_sample.csv
!data/processed/prices_sample.csv
!data/processed/factors_sample.csv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Mac OS system files
.DS_Store

# Logs / temp files
*.log
*.tmp
